.main-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  color: #fff;
}

.Coldest-container {
  background-image: url('./assets/svg/mountain.webp');
  background-size: cover;
}

.normal-containe {
  background-image: url('./assets/svg/pinkweather.jpeg');
  background-size: cover;
}

.rain-container {
  background-image: url('./assets/svg/storm.webp');
  /* background-size: 100%; */
  background-size: cover;
}